*{
  margin: 0;
}

.App {
  text-align: center;
}

.PageTitle {
  text-align: center;
}

/* React Router Styling */
.React-Router {
  display: inline;
}

.React-Router-Headlinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.React-Router-Group {
  width: 100%;
  display: flex;
  float: right;
  position: sticky;
  top: 0;
  background-color: #282c34;
}

.React-Router-sublinks {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.React-Router-Links:hover {
  background-color: #111;
}

.React-Router-Links {
  background-color: #282c34;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ConversionForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ConversionForm-Half {
  display: block;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 1em; 
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 2.5vw;
  min-width: 300px;
}

.ConversionForm-FormElement {
  padding-bottom: 1em;
  width: 100%;
}

.SubmitForm {
  background-color: aqua;
  color: white;
}